{% extends 'base.html' %}
{% block head %}
{% load static %}
            <link rel="stylesheet" href="{% static 'styles.css' %}">
 {% endblock head %}
{% block body %}
<h1>hello</h1>
<button class="btn btn-success">Start</button> 
{% load static %}
<div class="contain">
<img id='background' src="{% static 'background.jpg'%}" alt="Couldn't Load Image">   

<div class="green" style=" top: 0;"></div>
<div class="green" style=" right: 0;top: 0;"></div>
<div class="green" style=" bottom: 0;"></div>
<div class="green" style=" bottom: 0;right: 0;"></div>
<div class="horizontal"></div>
<div class="vertical"></div>
<div class="center">
      <div class="circl"></div>
      <div class="traffic signal1"></div>
      <div class="traffic signal2"></div>
      <div class="traffic signal3"></div>
      <div class="traffic signal4"></div>
</div>
<hr class="stripesh">
<vl class="stripesv"></div>
{% endblock body %} 
<script>doc</script>